#secondary .side-wid { padding-bottom:20px; }
#secondary .side-wid-gray {
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
  border-radius: 4px 4px 4px 4px;
  margin: 0 0 20px;
  padding: 30px;
}

#secondary .social { height:50px; }
#secondary .social li { float:left;margin-right:6px; }

.wp-caption { margin-top:0!important }
.wp-caption-text { margin-bottom:0!important }

.experts img { width:60px }
.experts td {font-size:11px;width:72px }
.experts i { display:block;font-weight:bold }
.signature { height:60px;margi:10px 0 }
.signature img { float:left;width:50px;margin-right:20px }