#secondary .side-wid { padding-bottom:25px; }

#secondary .side-wid-gray {
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
  border-radius: 4px 4px 4px 4px;
  margin: 0 0 20px;
  padding: 30px;
}

.expert-help-wid h3 {
  margin-bottom:15px;
}

.expert-help-wid p {
  font-size:10px;
  margin-top:5px;
}

#secondary .social { height:50px; }
#secondary .social li { float:left;margin-right:6px; }

#menu-top-posts ul { list-style-type:square!important; }

.wp-caption { margin-top:0!important }
.wp-caption img { margin-top:0!important }
.wp-caption-text { margin-bottom:0!important }

.bio { float:left;width:480px }
.bio .links { float:right;display:inline }
.bio .icon { width:32px;height:32px;display:inline-block;margin-left:6px;float:right; }
.github { background:url('/img/gh.png') }
.twitter { background:url('/img/tw.png') }
.bitbucker { background:url('/img/bb.png') }
.stackoverflow { background:url('/img/so.png') }
.bio h2 { margin-top:;float:left;clear:none;margin-top:0 }
.bio p { clear:both }

.experts img { width:60px }
.experts td {font-size:11px;width:72px;text-align:center }
.experts i { display:block;font-weight:bold }
.experts a { text-decoration:none }
.experts a:hover { text-decoration:underline; }
.signature { height:60px;margi:10px 0 }
.signature img { float:left;width:50px;margin-right:20px }
.signature div { float:left;line-height:1.38em }