.experts img { width:60px }
.experts td {font-size:11px;width:72px }
.experts i { display:block;font-weight:bold }
.signature { height:60px;margi:10px 0 }
.signature img { float:left;width:50px;margin-right:20px }