/*  New 2 column post
~-----------------------------------------*/
body {
  background: #fff; }

.entry {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin-left: 0;
  margin-right: 0; }

.entry-header {
  position: relative; }
  .entry-header iframe {
    width: 100%;
    height: 380px;
    margin-bottom: 30px; }
    @media (min-width: 800px) {
      .entry-header iframe {
        width: 730px; } }
  .entry-header .entry-title {
    font-size: 43px;
    bottom: 20px;
    z-index: 3;
    padding-left: 0;
    padding-right: 0; }
  .entry-header p.entry-meta {
    padding: 0 0 10px 0 !important; }
  .entry-header #entry-image-featured {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative; }
    .entry-header #entry-image-featured img {
      width: 100%; }
  .entry-header .gradient {
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-repeat: repeat-x; }
  .entry-header #profile-box {
    display: none; }
    .entry-header #profile-box .user-image {
      border-radius: 3px;
      overflow: hidden;
      height: 254px;
      width: 291px; }
    .entry-header #profile-box .user-name {
      font-size: 26px;
      padding-top: 11px;
      padding-bottom: 12px; }
    .entry-header #profile-box .social-links {
      margin-bottom: 24px;
      height: 35px; }
      .entry-header #profile-box .social-links li {
        list-style: none;
        float: left;
        margin-right: 10px; }
      .entry-header #profile-box .social-links a {
        display: block;
        height: 30px;
        width: 30px;
        background: #000;
        border-radius: 3px; }
      .entry-header #profile-box .social-links .icon-social-gh {
        background: #3B3B3B; }
      .entry-header #profile-box .social-links .icon-social-tw {
        background: #00AFEA; }
      .entry-header #profile-box .social-links .icon-social-so {
        background: #FFA43C; }
      .entry-header #profile-box .social-links .icon-social-in {
        background: #0081AF; }
      .entry-header #profile-box .social-links .icon-social-bb {
        background: #205081; }
    .entry-header #profile-box .button.large {
      width: 100%;
      text-align: center; }
    @media (min-width: 1140px) {
      .entry-header #profile-box {
        position: absolute;
        right: 0;
        display: block; } }

.entry-content {
  padding-left: 0;
  padding-right: 0; }
  .entry-content #content {
    width: 780px;
    position: relative; }
  .entry-content pre {
    border-radius: 3px;
    font-size: 15px; }
  .entry-content .author-photo {
    float: left;
    width: 50px;
    border-radius: 100%;
    margin-right: 10px; }
  .entry-content .social-btns {
    height: 72px; }
    .entry-content .social-btns .social-label {
      display: inline-block;
      padding-right: 10px;
      position: relative;
      top: -4px;
      text-transform: uppercase;
      font-weight: 500;
      color: #999;
      font-size: 14px; }
    .entry-content .social-btns .pw-widget {
      margin-left: 0 !important;
      padding: 0; }
    .entry-content .social-btns .fb-like {
      top: -7px;
      padding-right: 5px; }

@media (min-width: 800px) {
  #content {
    width: 780px;
    position: relative; }

  #table-of-contents {
    position: absolute;
    background: #FFF;
    width: 290px;
    margin-left: 845px;
    margin-top: -16px; }
    #table-of-contents.affix {
      position: fixed; } }
#text-table-of-contents ul li {
  list-style-type: none;
  color: #AAA;
  margin-left: 20px; }
#text-table-of-contents a {
  font-size: 14px;
  display: block;
  padding-bottom: 3px; }
#text-table-of-contents > ul > li {
  margin-left: 0px; }
  #text-table-of-contents > ul > li a {
    padding-left: 10px; }

.head-wrap {
  border-bottom: 1px solid #EEE;
  padding-bottom: 8px; }

#hero-image {
  width: 100%;
  background: #555; }
  #hero-image img {
    width: 100%; }

.note {
  background-color: #eee;
  padding: 20px;
  border-left: 6px solid #CE5323;
  margin: 20px 0; }

.note span {
  font-weight: normal;
  color: #999; }

.user-name {
  padding: 6px 0 !important; }

.social-links {
  margin-bottom: 14px !important; }

.partnership h2, h3 {
  font-weight: 300;
  font-size: 30px !important; }

pre {
  padding: 20px;
  line-height: 130%; }

.entry-header iframe {
  height: 410px !important; }

/*  Input Group
~-----------------------------------------*/
.input-group {
  position: relative; }
  .input-group input {
    border: none;
    border-radius: 4px;
    background-image: -o-linear-gradient(-89deg, white 0%, #fafafa 100%);
    background-image: -moz-linear-gradient(-89deg, white 0%, #fafafa 100%);
    background-image: -ms-linear-gradient(-89deg, white 0%, #fafafa 100%);
    background-image: linear-gradient(-179deg, white 0%, #fafafa 100%);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.19);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.19); }
  .input-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 7px 11px;
    border-radius: 0 4px 4px 0; }

.input-error {
  color: #CF2F56;
  display: none;
  text-align: center; }

/*  Promo Signature Banenr
~-----------------------------------------*/
#habla_window_div {
  -webkit-transition: bottom .3s ease;
  /* Safari 3.1 to 6.0 */
  transition: bottom .3s ease;
  z-index: 80 !important; }
  #habla_window_div.banner-on {
    bottom: 102px !important; }

.promo-signature-banner {
  background: #fff;
  width: 100%;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 8px 0px;
  -webkit-transition: all .3s ease;
  /* Safari 3.1 to 6.0 */
  transition: all .3s ease; }
  .promo-signature-banner:before, .promo-signature-banner:after {
    content: " ";
    display: table; }
  .promo-signature-banner:after {
    clear: both; }
  .promo-signature-banner p {
    margin: 6px 0 10px;
    font-weight: 400; }
  .promo-signature-banner .col-left {
    width: 60%;
    float: left; }
    .promo-signature-banner .col-left .btn.btn-primary {
      padding: 10px 16px; }
  .promo-signature-banner .col-right {
    width: 40%;
    float: left;
    padding-left: 40px;
    position: relative; }
  .promo-signature-banner .input-group input {
    padding-right: 132px; }
  .promo-signature-banner .error-text {
    color: #CF2F56;
    display: none;
    text-align: right;
    position: absolute;
    right: 56px;
    top: 11px;
    font-size: 13px; }
  .promo-signature-banner .user-info {
    float: left;
    width: 80px; }
    .promo-signature-banner .user-info img {
      width: 80px;
      margin-right: 20px; }
    .promo-signature-banner .user-info .user-title {
      text-align: center;
      font-size: 13px;
      color: #9C9C9C;
      line-height: 18px; }
  .promo-signature-banner .promo-info {
    padding-left: 100px; }
  .promo-signature-banner .services {
    padding-top: 10px; }
  .promo-signature-banner .service-list li {
    margin: 0;
    list-style: none; }
    .promo-signature-banner .service-list li .arrow {
      color: #999; }
    .promo-signature-banner .service-list li .link {
      color: #ce5424;
      cursor: pointer; }
      .promo-signature-banner .service-list li .link:hover {
        text-decoration: underline; }
  .promo-signature-banner .divider {
    border-left: 1px solid #D8D8D8;
    height: 90px;
    position: absolute;
    left: 0; }
    .promo-signature-banner .divider .or {
      background: #D8D8D8;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      text-align: center;
      position: absolute;
      left: -15px;
      top: 33px; }
  .promo-signature-banner .inline-only {
    display: none; }
  .promo-signature-banner.affixed {
    display: block;
    position: fixed;
    background: #FAFAFA;
    -moz-box-shadow: 0px -1px 14px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px -1px 14px 0px rgba(0, 0, 0, 0.17), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.19);
    -ms-transform: translateY(100%);
    /* IE 9 */
    -webkit-transform: translateY(100%);
    /* Chrome, Safari, Opera */
    transform: translateY(100%); }
    .promo-signature-banner.affixed.show {
      -ms-transform: translateY(0%);
      /* IE 9 */
      -webkit-transform: translateY(0%);
      /* Chrome, Safari, Opera */
      transform: translateY(0%); }
  .promo-signature-banner.inline {
    display: block;
    position: absolute; }
    .promo-signature-banner.inline .inline-only {
      display: block; }

.promo-signature-location, .promo-signature-banner.inline {
  height: 300px; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.modal-bubble-contain {
  margin: 40px 90px 40px;
  position: relative; }
  .modal-bubble-contain .modal-bubble {
    border-radius: 8px;
    background-image: -o-linear-gradient(-89deg, white 0%, #fcfcfc 100%);
    background-image: -moz-linear-gradient(-89deg, white 0%, #fcfcfc 100%);
    background-image: -ms-linear-gradient(-89deg, white 0%, #fcfcfc 100%);
    background-image: linear-gradient(-179deg, white 0%, #fcfcfc 100%);
    border: 1px solid #D5D5D5;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 10px 94px;
    text-align: left;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }
  .modal-bubble-contain .img-circle {
    position: absolute;
    width: 100px;
    left: -30px;
    top: -20px;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-delay: .3s;
    animation-delay: .3s; }

/*  Article Banners
~-----------------------------------------*/
@media (max-width: 1023px) {
  .site-inner {
    padding: 0; } }
@media only screen and (max-width: 1139px) {
  article.post {
    padding-left: 15px;
    padding-right: 15px; }

  .banner-bottom, .banner-top {
    overflow-x: scroll; }
    .banner-bottom .user-strip, .banner-bottom .wrap, .banner-top .user-strip, .banner-top .wrap {
      min-width: 1110px;
      padding: 0 20px; } }
.img-circle {
  border-radius: 50%;
  background: white; }

.img-overlap {
  position: relative;
  height: 150px; }
  .img-overlap img {
    position: absolute;
    width: 150px;
    margin-left: -75px; }
  .img-overlap.three img:nth-child(1) {
    margin-left: -180px; }
  .img-overlap.three img:nth-child(2) {
    margin-left: -75px;
    z-index: 3; }
  .img-overlap.three img:nth-child(3) {
    margin-left: 32px; }

.img-border {
  border: 3px solid white; }

/*  Module - how it works
~-----------------------------------------*/
.diagram-how {
  margin: 30px auto 30px;
  border-radius: 3px;
  background: #ce5424;
  color: #fff;
  clear: both; }
  .diagram-how h2, .diagram-how p {
    color: #fff; }
  .diagram-how h2 {
    text-align: center;
    padding-top: 23px; }
  .diagram-how .col-sm-4 {
    float: left;
    width: 33%;
    text-align: center; }
  .diagram-how .img-overlap img {
    width: 90px; }
  .diagram-how .img-overlap img:nth-child(1) {
    margin-left: -114px; }
  .diagram-how .img-overlap img:nth-child(2) {
    margin-left: -45px;
    z-index: 3; }
  .diagram-how .img-overlap img:nth-child(3) {
    margin-left: 24px; }
  .diagram-how .figure {
    height: 150px;
    position: relative; }
    .diagram-how .figure .img-overlap {
      padding-top: 16px; }
    .diagram-how .figure .arrow {
      position: absolute;
      top: 50px; }
    .diagram-how .figure .arrow-right {
      right: -77px; }
    .diagram-how .figure .arrow-left {
      left: -163px; }

/*  Expert promo
~-----------------------------------------*/
.promo-expert {
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  font-weight: 300;
  line-height: 29px;
  width: 400px;
  float: right;
  margin-bottom: 40px;
  padding: 10px 15px 25px;
  margin-left: 25px; }
  .promo-expert .promo-heading {
    font-size: 21px;
    color: #84BFBA;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 7px; }
  .promo-expert .col-left {
    width: 35%;
    padding-right: 10px;
    text-align: center;
    padding-top: 20px;
    float: left; }
  .promo-expert .col-right {
    width: 65%;
    padding-top: 20px;
    padding-left: 10px;
    float: left; }
  .promo-expert .promo-name {
    font-size: 21px;
    color: #1E1E1E;
    line-height: 29px; }
  .promo-expert .promo-title {
    font-size: 13px;
    color: #9C9C9C;
    line-height: 18px;
    text-align: center; }
  .promo-expert .promo-blurb {
    font-size: 13px;
    color: #525252;
    line-height: 18px; }
  .promo-expert .img-circle {
    border-radius: 100%;
    overflow: hidden;
    width: 100px;
    height: 100px; }
  .promo-expert a.btn.btn-primary {
    padding: 10px 25px;
    margin-top: 17px;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 16px;
    background: #ce5424; }
    .promo-expert a.btn.btn-primary:hover {
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.43);
      color: #fff !important;
      background: #ec7242; }

/*  Signature Promo
~-----------------------------------------*/
.promo-package {
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 40px;
  padding: 10px 30px 30px; }
  .promo-package:before, .promo-package:after {
    content: " ";
    display: table; }
  .promo-package:after {
    clear: both; }
  .promo-package .promo-heading {
    font-weight: 300;
    font-size: 28px;
    color: #84BFBA;
    line-height: 38px;
    padding: 10px 0 10px; }
    .promo-package .promo-heading .dark {
      color: #363636; }
  .promo-package .col-left {
    width: 20%;
    padding-right: 10px;
    text-align: center;
    padding-top: 20px; }
  .promo-package .col-right {
    width: 80%;
    padding-top: 20px;
    padding-left: 10px; }
  .promo-package .promo-name {
    font-size: 18px;
    color: #6A6A6A;
    line-height: 25px; }
  .promo-package .promo-title {
    font-size: 13px;
    color: #9C9C9C;
    line-height: 18px;
    padding-bottom: 12px; }
  .promo-package .promo-blurb {
    font-size: 13px;
    color: #525252;
    line-height: 18px; }
  .promo-package .img-circle {
    border-radius: 100%;
    overflow: hidden;
    width: 100px;
    height: 100px; }
  .promo-package .packages {
    clear: both;
    padding-top: 30px; }
    .promo-package .packages:before, .promo-package .packages:after {
      content: " ";
      display: table; }
    .promo-package .packages:after {
      clear: both; }
  .promo-package .package {
    float: left;
    border-radius: 5px;
    background: #FFFFFF;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.07), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.07), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    width: 226px;
    margin-right: 20px;
    padding: 17px; }
    .promo-package .package:last-child {
      margin-right: 0; }
    .promo-package .package .package-title {
      font-size: 24px;
      color: #84BFBA;
      line-height: 33px;
      padding-bottom: 10px; }
    .promo-package .package .package-desc {
      font-size: 13px;
      color: #525252;
      line-height: 18px; }
      .promo-package .package .package-desc ul {
        margin-bottom: 8px;
        height: 75px; }
        .promo-package .package .package-desc ul li {
          margin-left: 20px; }
    .promo-package .package .package-price {
      font-size: 52px;
      color: #8A8A8A;
      line-height: 71px;
      text-align: center; }
      .promo-package .package .package-price small {
        font-size: 17px; }
  .promo-package button.btn.btn-primary {
    padding: 10px 25px;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 16px;
    display: block;
    background: #ce5424;
    width: 100%; }
    .promo-package button.btn.btn-primary:hover {
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.43);
      color: #fff !important;
      background: #ec7242; }

#modal-purchaseComplete h4 {
  font-weight: 300;
  font-size: 21px;
  color: #929292;
  line-height: 33px; }
