/*  New 2 column post
~-----------------------------------------*/
body {
  background: #fff; }

.entry {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.entry-header {
  position: relative; }
  .entry-header iframe {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
    margin-left: 22px; }
    @media (min-width: 800px) {
      .entry-header iframe {
        width: 730px; } }
  .entry-header .entry-title {
    font-size: 43px;
    bottom: 20px;
    z-index: 3; }
  .entry-header #entry-image-featured {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative; }
    .entry-header #entry-image-featured img {
      width: 100%; }
  .entry-header .gradient {
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-repeat: repeat-x; }
  .entry-header #profile-box {
    display: none; }
    .entry-header #profile-box .user-image {
      border-radius: 3px;
      overflow: hidden;
      height: 200px;
      width: 200px; }
    .entry-header #profile-box .user-name {
      font-size: 26px;
      padding-top: 11px;
      padding-bottom: 12px; }
    .entry-header #profile-box .social-links {
      margin-bottom: 24px;
      height: 35px; }
      .entry-header #profile-box .social-links li {
        list-style: none;
        float: left;
        margin-right: 10px; }
      .entry-header #profile-box .social-links a {
        display: block;
        height: 30px;
        width: 30px;
        background: #000;
        border-radius: 3px; }
      .entry-header #profile-box .social-links .icon-social-gh {
        background: #3B3B3B; }
      .entry-header #profile-box .social-links .icon-social-tw {
        background: #00AFEA; }
      .entry-header #profile-box .social-links .icon-social-so {
        background: #FFA43C; }
      .entry-header #profile-box .social-links .icon-social-in {
        background: #0081AF; }
      .entry-header #profile-box .social-links .icon-social-bb {
        background: #205081; }
    .entry-header #profile-box .button.large {
      width: 200px;
      text-align: center; }
    @media (min-width: 1140px) {
      .entry-header #profile-box {
        position: absolute;
        right: 100px;
        display: block; } }

.entry-content #content {
  width: 780px;
  position: relative; }
.entry-content pre {
  border-radius: 3px;
  font-size: 15px; }
.entry-content code {
  background: #333;
  color: #eee;
  border-radius: 2px;
  padding: 0 6px; }

@media (min-width: 800px) {
  #content {
    width: 780px;
    position: relative; }

  #table-of-contents {
    position: absolute;
    background: #FFF;
    width: 290px;
    padding-top: 10px;
    margin-left: 805px;
    margin-top: -10px; }
    #table-of-contents.affix {
      position: fixed; } }
#text-table-of-contents ul li {
  list-style-type: none;
  color: #AAA;
  margin-left: 20px; }
#text-table-of-contents a {
  font-size: 14px;
  display: block;
  padding-bottom: 3px; }
#text-table-of-contents > ul > li {
  margin-left: 0px; }
  #text-table-of-contents > ul > li a {
    padding-left: 10px; }

.head-wrap {
  border-bottom: 1px solid #EEE;
  padding-bottom: 8px; }

#hero-image {
  width: 100%;
  background: #555; }
  #hero-image img {
    width: 100%; }

.note {
  background-color: #eee;
  padding: 20px;
  border-left: 6px solid #CE5323;
  margin: 20px 0; }

.note span {
  font-weight: normal;
  color: #999; }

.user-name {
  padding: 6px 0 !important; }

.social-links {
  margin-bottom: 14px !important; }

.entry-header #profile-box .button.large {
  width: 250px !important; }

.entry-header #profile-box {
  right: 50px !important; }

.entry-header #profile-box .user-image {
  width: 250px !important;
  height: 250px !important; }

.partnership h2, h3 {
  font-weight: 300;
  font-size: 30px !important; }

pre {
  padding: 20px;
  line-height: 130%; }

.entry-header iframe {
  height: 410px !important; }

/*  Input Group
~-----------------------------------------*/
.input-group {
  position: relative; }
  .input-group input {
    border: none;
    border-radius: 4px;
    background-image: -o-linear-gradient(-89deg, white 0%, #fafafa 100%);
    background-image: -moz-linear-gradient(-89deg, white 0%, #fafafa 100%);
    background-image: -ms-linear-gradient(-89deg, white 0%, #fafafa 100%);
    background-image: linear-gradient(-179deg, white 0%, #fafafa 100%);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.19);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.19); }
  .input-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 7px 11px;
    border-radius: 0 4px 4px 0;
    background-image: -o-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
    background-image: -moz-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
    background-image: -ms-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
    background-image: linear-gradient(-179deg, #ff7b47 0%, #ee591f 100%); }

.input-error {
  color: #CF2F56;
  display: none;
  text-align: center; }

/*  Article Banners
~-----------------------------------------*/
.banner-top {
  background: #90d1cc;
  margin-top: -40px;
  margin-bottom: 20px; }
  .banner-top .col-left {
    padding-top: 30px;
    padding-bottom: 30px; }
  .banner-top .col-right {
    padding-top: 30px;
    padding-bottom: 30px; }
  .banner-top .title-main {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 9px; }
  .banner-top .title-sub {
    font-size: 20px;
    margin-bottom: 30px; }
  .banner-top .title-main, .banner-top .title-sub {
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.31); }
  .banner-top .title-offer {
    font-size: 27px;
    color: #525252;
    line-height: 37px;
    text-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; }
  .banner-top .title-offer-sub {
    font-size: 16px;
    color: #525252;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center; }
  .banner-top .btn-link {
    color: #486966;
    border-radius: 4px;
    border: 1px solid #79B0AB;
    display: inline-block;
    padding: 2px 10px;
    margin-left: 7px;
    text-shadow: none;
    font-size: 16px; }

.banner-bottom {
  width: 100%;
  background: #1D2423;
  margin-top: 90px;
  padding-bottom: 30px;
  margin-bottom: 0px; }
  .banner-bottom .user-strip {
    -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.23); }
  .banner-bottom .title-main
  , .banner-bottom .title-sub {
    font-weight: normal;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.31); }
  .banner-bottom .title-main {
    color: #90d1cc;
    font-size: 44px;
    font-weight: 300;
    margin-top: 30px; }
  .banner-bottom .title-sub {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px; }
  .banner-bottom .btn-link {
    color: #90d1cc;
    border-radius: 4px;
    border: 1px solid #90d1cc;
    display: inline-block;
    padding: 2px 10px;
    text-shadow: none;
    font-size: 16px;
    text-align: center; }
    .banner-bottom .btn-link:hover {
      color: #fff !important;
      border-color: #fff; }
  .banner-bottom .offer-box {
    margin: 0 auto;
    padding: 1px 0 22px; }
  .banner-bottom .title-offer {
    font-size: 27px;
    color: #fff;
    line-height: 37px;
    text-shadow: none;
    margin-top: 15px;
    margin-bottom: 8px;
    text-align: center; }
  .banner-bottom .input-group {
    width: 370px;
    margin: 0 auto; }

.banner-bottom-spacer {
  height: 727px; }

.user-strip {
  background: transparent url("http://www.airpair.com/wp-content/themes/epik/images/users-strip.jpg") left top repeat-x;
  height: 35px; }

.col-left {
  width: 780px;
  float: left; }

.col-right {
  width: 290px;
  float: right; }

.img-circle {
  border-radius: 50%;
  background: white; }

.img-overlap {
  position: relative;
  height: 150px; }
  .img-overlap img {
    position: absolute;
    width: 150px;
    margin-left: -75px; }
  .img-overlap.three img:nth-child(1) {
    margin-left: -180px; }
  .img-overlap.three img:nth-child(2) {
    margin-left: -75px;
    z-index: 3; }
  .img-overlap.three img:nth-child(3) {
    margin-left: 32px; }

.img-border {
  border: 3px solid white; }

/*  Module - how it works
~-----------------------------------------*/
.diagram-how {
  margin: 40px auto 30px;
  border-radius: 3px;
  background: #ce5424;
  color: #fff; }
  .diagram-how h2, .diagram-how p {
    color: #fff; }
  .diagram-how h2 {
    text-align: center;
    padding-top: 23px; }
  .diagram-how .col-sm-4 {
    float: left;
    width: 33%;
    text-align: center; }
  .diagram-how .img-overlap img {
    width: 90px; }
  .diagram-how .img-overlap img:nth-child(1) {
    margin-left: -114px; }
  .diagram-how .img-overlap img:nth-child(2) {
    margin-left: -45px;
    z-index: 3; }
  .diagram-how .img-overlap img:nth-child(3) {
    margin-left: 24px; }
  .diagram-how .figure {
    height: 150px;
    position: relative; }
    .diagram-how .figure .img-overlap {
      padding-top: 16px; }
    .diagram-how .figure .arrow {
      position: absolute;
      top: 50px; }
    .diagram-how .figure .arrow-right {
      right: -77px; }
    .diagram-how .figure .arrow-left {
      left: -163px; }

/*  MODAL
~-----------------------------------------*/
.no-scroll {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none; }
  .modal .modal-body {
    background: #fff;
    border-radius: 4px;
    width: 800px;
    min-height: 200px;
    margin: 5% auto 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); }

.modal-article {
  text-align: center; }
  .modal-article .modal-body {
    padding: 20px; }
  .modal-article h1, .modal-article h2 {
    font-weight: 500;
    font-size: 31px !important;
    line-height: 42px; }
  .modal-article h1 {
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0; }
  .modal-article h2 {
    color: #5A5A5A;
    margin-bottom: 20px;
    padding: 0; }
  .modal-article .text-small {
    font-size: 16px;
    color: #909090;
    line-height: 22px;
    width: 410px;
    margin: 9px auto 25px; }
  .modal-article a {
    color: #ce5424;
    font-weight: 300; }
  .modal-article a.btn {
    color: #fff; }
  .modal-article .user-images {
    margin-top: 15px; }

.text-blue {
  color: #90d1cc; }

a.btn.btn-primary {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  font-weight: 300;
  padding: 15px 22px;
  font-size: 23px;
  border-radius: 4px;
  background-image: -o-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
  background-image: -moz-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
  background-image: -ms-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
  background-image: linear-gradient(-179deg, #ff7b47 0%, #ee591f 100%);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  a.btn.btn-primary:hover {
    background-image: -o-linear-gradient(-89deg, #ff8d61 0%, #f3632a 100%);
    background-image: -moz-linear-gradient(-89deg, #ff8d61 0%, #f3632a 100%);
    background-image: -ms-linear-gradient(-89deg, #ff8d61 0%, #f3632a 100%);
    background-image: linear-gradient(-179deg, #ff8d61 0%, #f3632a 100%); }

/*  ANIMATIONS
~-----------------------------------------*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-fast {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

/*  Source Code CTA
~-----------------------------------------*/
.src-cta {
  background: #333;
  margin-top: -18px;
  border-radius: 0 0 3px 3px;
  color: #EEE;
  text-align: right;
  border-top: 1px solid #444;
  position: relative;
  z-index: 2;
  padding: 7px;
  font-size: 13px;
  margin-bottom: 15px; }
  .src-cta button {
    padding: 1px 15px;
    margin-left: 15px;
    font-weight: 300;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 32px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.43);
    border-radius: 3px;
    background-image: -o-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
    background-image: -moz-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
    background-image: -ms-linear-gradient(-89deg, #ff7b47 0%, #ee591f 100%);
    background-image: linear-gradient(-179deg, #ff7b47 0%, #ee591f 100%); }
